# Coursera Capstone

# Segmenting and Clustering Neighborhoods in Toronto

In [1]:
import numpy as np 
import pandas as pd 
from bs4 import BeautifulSoup
import requests

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')

In [4]:
class Scrapy:
       
        def parse_url(self, url):
            response = requests.get(url)
            soup = BeautifulSoup(response.text, 'lxml')
            return [(self.parse_html_table(table))\
                    for table in soup.find_all('table', class_="wikitable sortable")]  
    
        def parse_html_table(self, table):
            n_columns = 0
            n_rows=0
            column_names = []
            for row in table.find_all('tr'):
                td_tags = row.find_all('td')
                if len(td_tags) > 0:
                    n_rows+=1
                    if n_columns == 0:
                        n_columns = len(td_tags)
                        
                th_tags = row.find_all('th') 
                if len(th_tags) > 0 and len(column_names) == 0:
                    for th in th_tags:
                        column_names.append(th.get_text())
    
            if len(column_names) > 0 and len(column_names) != n_columns:
                raise Exception("Column titles do not match the number of columns")
    
            columns = column_names if len(column_names) > 0 else range(0,n_columns)
            df = pd.DataFrame(columns = columns,
                              index= range(0,n_rows))
            row_marker = 0
            for row in table.find_all('tr'):
                column_marker = 0
                columns = row.find_all('td')
                for column in columns:
                    df.iat[row_marker,column_marker] = column.get_text()
                    column_marker += 1
                if len(columns) > 0:
                    row_marker += 1
                    
            for col in df:
                try:
                    df[col] = df[col].astype(float)
                except ValueError:
                    pass
            
            return df

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
hp = Scrapy()
table = hp.parse_url(url)[0] 
table.head(10)

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M5A  Downtown Toronto       Regent Park\n
6      M6A        North York  Lawrence Heights\n
7      M6A        North York    Lawrence Manor\n
8      M7A      Queen's Park      Not assigned\n
9      M8A      Not assigned      Not assigned\n

Remove the "Not assigned"

In [6]:

table = table[table.Borough != 'Not assigned']
table.head(10)

   Postcode           Borough     Neighbourhood\n
2       M3A        North York         Parkwoods\n
3       M4A        North York  Victoria Village\n
4       M5A  Downtown Toronto      Harbourfront\n
5       M5A  Downtown Toronto       Regent Park\n
6       M6A        North York  Lawrence Heights\n
7       M6A        North York    Lawrence Manor\n
8       M7A      Queen's Park      Not assigned\n
10      M9A         Etobicoke  Islington Avenue\n
11      M1B       Scarborough             Rouge\n
12      M1B       Scarborough           Malvern\n

Cleanup

In [7]:
print(list(table))
table = table.replace('\n',' ', regex=True)
table.head(10)

['Postcode', 'Borough', 'Neighbourhood\n']

   Postcode           Borough    Neighbourhood\n
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [8]:

table = table[table['Neighbourhood\n'] != 'Not assigned']
table.head(10)

   Postcode           Borough    Neighbourhood\n
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

Group by Neighborhood Postcodes

In [9]:
df = table.groupby(['Postcode','Borough'])['Neighbourhood\n'].apply(lambda x: ", ".join(x.astype(str))).reset_index()
df = df.sample(frac=1).reset_index(drop=True)
df.head(10)

  Postcode          Borough                                 Neighbourhood\n
0      M4H        East York                               Thorncliffe Park
1      M1G      Scarborough                                         Woburn
2      M4C        East York                               Woodbine Heights
3      M2M       North York                       Newtonbrook , Willowdale
4      M6L       North York           Downsview , North Park , Upwood Park
5      M6N             York                 The Junction North , Runnymede
6      M1K      Scarborough  East Birchmount Park , Ionview , Kennedy Park
7      M6J     West Toronto                      Little Portugal , Trinity
8      M4P  Central Toronto                               Davisville North
9      M1N      Scarborough                   Birch Cliff , Cliffside West

In [10]:

print(df.shape)

(103, 3)


END Part 1

Geospacial Data

In [11]:

url2="http://cocl.us/Geospatial_data"
geo_data=pd.read_csv(url2)
geo_data.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [12]:

print(list(df))
print(list(geo_data))

full_table = df.set_index('Postcode').join(geo_data.set_index('Postal Code'))
full_table = full_table.sample(frac=1).reset_index(drop=True)
full_table.head(20)

['Postcode', 'Borough', 'Neighbourhood\n']
['Postal Code', 'Latitude', 'Longitude']

,Borough,Neighbourhood,Latitude,Longitude
0,Downtown Toronto,Berczy Park,43.644771,-79.373306
1,Downtown Toronto,Christie,43.669542,-79.422564
2,Downtown Toronto,"Harbourfront East , Toronto Islands , Union St...",43.640816,-79.381752
3,West Toronto,"Brockton , Exhibition Place , Parkdale Village",43.636847,-79.428191
4,Scarborough,"East Birchmount Park , Ionview , Kennedy Park",43.727929,-79.262029
5,Scarborough,Cedarbrae,43.773136,-79.239476
6,East Toronto,The Beaches,43.676357,-79.293031
7,North York,"Lawrence Heights , Lawrence Manor",43.718518,-79.464763
8,Central Toronto,"Deer Park , Forest Hill SE , Rathnelly , South...",43.686412,-79.400049
9,East Toronto,"The Beaches West , India Bazaar",43.668999,-79.315572
10,Etobicoke,"Cloverdale , Islington , Martin Grove , Prince...",43.650943,-79.554724
11,Etobicoke,"Alderwood , Long Branch",43.602414,-79.543484
12,North York,Humber Summit,43.756303,-79.565963
13,Scarborough,Woburn,43.770992,-79.216917
14,Central Toronto,Davisville,43.704324,-79.388790
15,Etobicoke,Islington Avenue,43.667856,-79.532242
16,Etobicoke,"The Kingsway , Montgomery Road , Old Mill North",43.653654,-79.506944
17,North York,"Emery , Humberlea",43.724766,-79.532242
18,West Toronto,"High Park , The Junction South",43.661608,-79.464763
19,Downtown Toronto,Central Bay Street,43.657952,-79.387383


END Part 2

Creating a Map of Geo location findings

In [2]:
from geopy.geocoders import Nominatim 
import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans

import folium

Finding Torontos Coordinates

In [10]:
latitude = 43.653963
longitude = -79.387207
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Toronto are 43.653963, -79.387207.